body {
  margin: .5rem;
  padding: 0;
  color: orange;
  font-family: sans-serif;

  background-color: #222;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 4px 4px rgba(241, 38, 161, 0.7);
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

ul {
  margin: 0rem 0;
  padding: 0 0 0 2rem;
}

li {
  display: inline-block;
  margin: 1em;
  padding: 0;
}

@keyframes color-cycle {
    0% { background-color: rgb(  7, 148, 202); }
   20% { background-color: rgb(226,  31, 149); }
   40% { background-color: rgb(249, 124,  57); }
   60% { background-color: rgb(254, 224,  76); }
   80% { background-color: rgb(124, 210, 109); }
  100% { background-color: rgb(  7, 148, 202); }
}

a,
a:link,
a:visited
{
  display: inline-block;
  padding: 1em;

  background-color: rgb(226, 31, 149);
  color: #222;

  text-decoration: none;

  animation-name: color-cycle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

ul > li:nth-child(0) > a {
  animation-delay: 0s;
}

ul > li:nth-child(1) > a {
  animation-delay: -1.66s;
}

ul > li:nth-child(2) > a {
  animation-delay: -3.33s;
}

ul > li:nth-child(3) > a {
  animation-delay: -5s;
}

ul > li:nth-child(4) > a {
  animation-delay: -6.66s;
}

ul > li:nth-child(5) > a {
  animation-delay: -8.33s;
}

a:hover,
a:focus,
a:active
{
  color: white;
  animation-duration: 3.33s;
}

img {
  max-width: 100%;
  height: auto;
}

a.no-disco,
a.no-disco:link,
a.no-disco:visited
{
  display: inline;
  padding: 0;
  background-color: inherit;
  animation: none;
}

ul.pico8-carts img {
  image-rendering: pixelated;
}

ul.not-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.not-links li {
  margin: 0;
}

.kaomoji {
  white-space: nowrap;
}

@media (max-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  ul {
    padding-left: 0;
    margin-left: 0;
  }

  a,
  a:link,
  a:visited,
  li
  {
    display: block;
  }

  li {
    text-align: center;
  }

  ul.pico8-carts {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
    min-width: 100%;
  }

  ul.pico8-carts li {
    min-width: calc(160px + .25rem);
    margin: 0;
    padding: 0 .25rem;
  }

  ul.pico8-carts a {
    margin: 0;
  }

  ul.pico8-carts img {
    min-width: 160px;
  }

  #badges {
    text-align: center;
  }
}
