body {
  margin: .5rem;
  padding: 0;
  color: orange;
  font-family: sans-serif;

  background-color: #222;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 4px 4px #ff5500;
}

a,
a:link,
a:visited
{
  display: inline-block;
  padding: 1em;
  margin: 1em;

  background-color: #222;
  color: #222;

  text-decoration: none;
}

a.initialized {
  transition:
    background-color 1s linear,
    color 100ms ease-in-out,
    opacity 500ms linear;
}

a:hover,
a:focus,
a:active
{
  color: white;
  transition: background-color 100ms linear, color 100ms ease-in-out;
}

li {
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

a.no-disco {
  padding: 0;
}

.not-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.not-links li {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
  }

  ul {
    padding-left: 0;
    margin-left: 0;
  }

  a,
  a:link,
  a:visited,
  li {
    display: block;
  }

  li {
    padding-left: 0;
    margin-left: 0;
    text-align: center;
  }

  ul.pico8-carts {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
    min-width: 100%;
  }

  ul.pico8-carts li {
    min-width: 160px;
    padding: .25rem;
  }

  ul.pico8-carts a {
    margin: 0;
  }
}
